<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="7h3rAm"/>
    <meta name="description" content="Personal Weblog"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Grey Matter</title>

    <link href="/static/css/{{blogtheme}}.css" rel="stylesheet" type="text/css">
    <link href="/static/css/codehilite/{{codehilitetheme}}.css" rel="stylesheet" type="text/css">

    <link href="/static/images/favicon-32x32.png" sizes="32x32" rel="icon" type="image/png"/>
  </head>
  <body>
    <section id="content" class="body">
      {% block header %}
        <div class="header">
          <table>
            <tr>
              <td class="blogtitle"><a href="/" style="color: rgb(102, 102, 102);">Grey Matter</a></td>
              <td class="blognavbar">
                <a href="/archive.html">[Archive]</a> <a href="/tags.html">[Tags]</a> <a href="/projects.html">[Projects]</a> <a href="/research.html">[Research]</a>
              </td>
            </tr>
          </table>
        </div>
      {% endblock %}
      {% block main %}{% endblock %}
      {% block footer %}
        <div class="footer">
          <center>
            <a href="/rss.xml" target="_blank">rss</a> | <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license" target="_blank">license</a>
          </center>
        </div>
      {% endblock %}
    </section>
  </body>
</html>
