{% extends "base.html" %}
{% block body %}
    <h1>🌎 EarthView <a name="top"></a></h1>
    <h2>🕙 Current Time <a href="#top"> ↟ </a></h2>
      <p id="currenttime_utc"></p>
      <p id="currenttime_local"></p>
    <h2>🛰️ Latest Images <a href="#top"> ↟ </a></h2>
      <table>
        <tbody>
          <tr>
            <td><center><a href="https://twitter.com/search?q=%23INSAT3D">#INSAT3D Asia (Visual)</a><br/><img class="satimages" id="insat3dasiavis"/></center></td>
            <td><center><a href="https://twitter.com/search?q=%23INSAT3D">#INSAT3D Asia (IR)</a><br/><img class="satimages" id="insat3dasiair1"/></center></td>
          </tr>
          <tr>
            <td><center><a href="https://twitter.com/search?q=%23INSAT3D">#INSAT3D Global (Visual)</a><br/><img class="satimages" id="insat3dglobalvis"/></center></td>
            <td><center><a href="https://twitter.com/search?q=%23INSAT3D">#INSAT3D Global (IR)</a><br/><img class="satimages" id="insat3dglobalir1"/></center></td>
          </tr>
          <tr>
            <td><center><a href="https://twitter.com/search?q=%23METEOSAT">#METEOSAT</a> <a href="https://twitter.com/search?q=%23METEOSAT0">#METEOSAT0</a><br/><img class="satimages" id="meteosat0"/></center></td>
            <td><center><a href="https://twitter.com/search?q=%23METEOSAT">#METEOSAT</a> <a href="https://twitter.com/search?q=%23METEOSAT415">#METEOSAT415</a><br/><img class="satimages" id="meteosat415"/></center></td>
          </tr>
          <tr>
            <td><center><a href="https://twitter.com/search?q=%23GOES17">#GOES17</a> <a href="https://twitter.com/search?q=%23GOESWest">#GOESWest</a><br/><img class="satimages" id="goes17westfd"/></center></td>
            <td><center><a href="https://twitter.com/search?q=%23GOES16">#GOES16</a> <a href="https://twitter.com/search?q=%23GOESEast">#GOESEast</a><br/><img class="satimages" id="goes16eastfd"/></center></td>
          </tr>
          <tr>
            <td><center><a href="https://twitter.com/search?q=%23Himawari">#Himawari</a> <a href="https://twitter.com/search?q=%23Himawari8">#Himawari8 (TrueColor)</a><br/><img class="satimages" id="himawari_truecolorrepo"/></center></td>
            <td><center><a href="https://twitter.com/search?q=%23Himawari">#Himawari</a> <a href="https://twitter.com/search?q=%23Himawari8">#Himawari8 (NaturalColor)</a><br/><img class="satimages" id="himawari_naturalcolor"/></center></td>
          </tr>
        </tbody>
      </table>
    <script>
      function getTime() {
        var localdatetime = new Date();
        document.getElementById("currenttime_utc").innerHTML = "GMT: " + localdatetime.toUTCString();
        document.getElementById("currenttime_local").innerHTML = "Local: " + localdatetime.toString();
      }

      function getImages() {
        document.getElementById("insat3dasiavis").src = "https://mausam.imd.gov.in/Satellite/Converted/VIS.gif"; document.getElementById("insat3dasiavis").width = 420; document.getElementById("insat3dasiavis").height = 420;
        document.getElementById("insat3dasiair1").src = "https://mausam.imd.gov.in/Satellite/Converted/IR1.gif"; document.getElementById("insat3dasiair1").width = 420; document.getElementById("insat3dasiair1").height = 420;

        document.getElementById("insat3dglobalvis").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_vis.jpg"; document.getElementById("insat3dglobalvis").width = 420; document.getElementById("insat3dglobalvis").height = 420;
        document.getElementById("insat3dglobalir1").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_ir1.jpg"; document.getElementById("insat3dglobalir1").width = 420; document.getElementById("insat3dglobalir1").height = 420;

        document.getElementById("meteosat0").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat0").width = 420; document.getElementById("meteosat0").height = 420;
        document.getElementById("meteosat415").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat415").width = 420; document.getElementById("meteosat415").height = 420;

        document.getElementById("goes16eastfd").src = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/thumbnail.jpg"; document.getElementById("goes16eastfd").width = 420; document.getElementById("goes16eastfd").height = 420;
        document.getElementById("goes17westfd").src = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/thumbnail.jpg"; document.getElementById("goes17westfd").width = 420; document.getElementById("goes17westfd").height = 420;

        document.getElementById("himawari_truecolorrepo").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg"; document.getElementById("himawari_truecolorrepo").width = 420; document.getElementById("himawari_truecolorrepo").height = 420;
        document.getElementById("himawari_naturalcolor").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg"; document.getElementById("himawari_naturalcolor").width = 420; document.getElementById("himawari_naturalcolor").height = 420;
      }

      window.onload = () => {
        getTime();
        getImages();
        //setInterval(() => {getImages();},1000*60*10); // every 10m
      }
    </script>
{% endblock %}
