{% extends "base.html" %}
{% block body %}
    <h1>🌎 EarthView <a name="top"></a></h1>
    <h2>🕙 Current Time <a href="#top"> ↟ </a></h2>
      <p id="currenttime_utc"></p>
      <p id="currenttime_local"></p>
    <h2>🛰️ Latest Images <a href="#top"> ↟ </a></h2>
      <table>
        <tbody>
          <tr>
            <td><center>#METEOSAT #METEOSAT0<br/><img class="satimages" id="meteosat0"/></center></td>
            <td><center>#METEOSAT #METEOSAT415<br/><img class="satimages" id="meteosat415"/></center></td>
          </tr>
          <tr>
            <td><center>#GOES17 #GOESWest<br/><img class="satimages" id="goes17westfd"/></center></td>
            <td><center>#GOES16 #GOESEast<br/><img class="satimages" id="goes16eastfd"/></center></td>
          </tr>
          <tr>
            <td><center>#Himawari #Himawari8 (TrueColor)<br/><img class="satimages" id="himawari_truecolorrepo"/></center></td>
            <td><center>#Himawari #Himawari8 (NaturalColor)<br/><img class="satimages" id="himawari_naturalcolor"/></center></td>
          </tr>
        </tbody>
      </table>
    <script>
      function getTime() {
        var localdatetime = new Date();
        document.getElementById("currenttime_utc").innerHTML = "GMT: " + localdatetime.toUTCString();
        document.getElementById("currenttime_local").innerHTML = "Local: " + localdatetime.toString();
      }

      function getImages() {
        document.getElementById("meteosat0").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat0").width = 420; document.getElementById("meteosat0").height = 420;
        document.getElementById("meteosat415").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat415").width = 420; document.getElementById("meteosat415").height = 420;

        document.getElementById("goes16eastfd").src = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/thumbnail.jpg"; document.getElementById("goes16eastfd").width = 420; document.getElementById("goes16eastfd").height = 420;
        document.getElementById("goes17westfd").src = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/thumbnail.jpg"; document.getElementById("goes17westfd").width = 420; document.getElementById("goes17westfd").height = 420;

        document.getElementById("himawari_truecolorrepo").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg"; document.getElementById("himawari_truecolorrepo").width = 420; document.getElementById("himawari_truecolorrepo").height = 420;
        document.getElementById("himawari_naturalcolor").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg"; document.getElementById("himawari_naturalcolor").width = 420; document.getElementById("himawari_naturalcolor").height = 420;
      }

      window.onload = () => {
        getTime();
        getImages();
        //setInterval(() => {getImages();},1000*60*10); // every 10m
      }
    </script>
{% endblock %}
