{%extends "base.html"%}
{%block main%}
  <article class="post">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default section compact">
        <div class="panel-body">
          {{data.aboutme}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default section compact">
        <div class="panel-body">
          <p class="heading">Recent Posts</p>
          {%for post in posts%}
            <span class="date">{{post.pretty_date}}</span> - <span><a href="{{post.url}}">{{post.title}}</a></span>
            <br/>
          {%endfor%}
          <span class="pointer"><a href="/archive.html">more...</a></span>
        </div>
      </div>
    </div>
  </div>
  </article>
{%endblock%}
