{% extends "base.html" %}
{% block body %}
      <h1>{{ datadict.metadata.name }}</h1>
        {{ datadict.metadata.blog.intro }}
        <ul>
        {% for connect in datadict.metadata.blog.connect %}
          <li><a href="{{ connect.url }}">{{ connect.name }}</a></li>
        {% endfor %}
        </ul>
        <h2>Recent Posts</h2>
        <ul>
        {% for post in datadict.posts[:datadict.recent_count] %}
          <li><code>{{ post.pretty_date }}</code>: <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
          <li><a href="/archive.html">more...</a></li>
        </ul>
{% endblock %}
