{% extends "base.html" %}
{% block content %}
  <h1 class="h1">🧘 Life</h1>
    <ul class="active">
      {% for note in datadict.life.notes %}
        {% if note.url %}
          <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>{{ note.name|md2html|removepara }} <a href={{ note.url }}>[🔗]</a></h2><ul class="active nested">
        {% else %}
          <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>{{ note.name|md2html|removepara }}</h2><ul class="active nested">
        {% endif %}
          {% for listing in note.listing %}
            <li>{{ listing|md2html|removepara }}</li>
          {% endfor %}
        </ul></li>
      {% endfor %}
      </ul></li>
    </ul>
{% endblock %}
