{% extends "base.html" %}
{% block content %}
<article id="top">
  <h1 class="h1">oscp</h1>

  <div class="content">
    <h2 class="h2">TL;DR <a href="#top" class="top-link" style="font-size:0.8em;color:var(--muted);">[^]</a></h2>
    <ul>
      {% for tldr in datadict.oscp.tldr %}
      <li>{{ tldr|md2html|removepara }}</li>
      {% endfor %}
    </ul>

    <h2 class="h2">Read/Watch/Follow <a href="#top" class="top-link" style="font-size:0.8em;color:var(--muted);">[^]</a></h2>
    <ul>
      {% for rwf in datadict.oscp.readwatchfollow %}
      <li><a href={{ rwf.url }}>{{ rwf.name }}</a>: {{ rwf.content|md2html|removepara }}</li>
      {% endfor %}
    </ul>

    <h2 class="h2">Do <a href="#top" class="top-link" style="font-size:0.8em;color:var(--muted);">[^]</a></h2>
    {% for doo in datadict.oscp.do %}
    <h3 class="h3">{{ doo.name }}<a name={{doo.selfref}}></a></h3>
    <ul>
      {% for refs in doo.references %}
      <li>{{ refs|md2html|removepara }}</li>
      {% endfor %}
    </ul>
    {% endfor %}

    <h2 class="h2">Resources <a href="#top" class="top-link" style="font-size:0.8em;color:var(--muted);">[^]</a></h2>

    <h3 class="h3">machinescli</h3>
    <p>{{ datadict.oscp.resources.machinescli.description|md2html|removepara }}</p>
    {% for shot in datadict.oscp.resources.machinescli.screenshots %}
    <p style="text-align:center;"><a href={{ datadict.oscp.resources.machinescli.url }}><img class="sqimages" src={{ shot }} style="max-width:300px;"></a></p>
    {% endfor %}

    <h3 class="h3">svachal</h3>
    <p>{{ datadict.oscp.resources.svachal.description|md2html|removepara }}</p>
    {% for shot in datadict.oscp.resources.svachal.screenshots %}
    <p style="text-align:center;"><a href={{ datadict.oscp.resources.svachal.url }}><img class="sqimages" src={{ shot }} style="max-width:300px;"></a></p>
    {% endfor %}

    <h3 class="h3">gsheet</h3>
    <p>{{ datadict.oscp.resources.gsheet.description|md2html|removepara }}</p>
    {% for shot in datadict.oscp.resources.gsheet.screenshots %}
    <p style="text-align:center;"><a href={{ datadict.oscp.resources.gsheet.url }}><img class="sqimages" src={{ shot }} style="max-width:300px;"></a></p>
    {% endfor %}

    <h3 class="h3">notes</h3>
    <p>{{ datadict.oscp.resources.notes.description|md2html|removepara }}</p>

    <h4 class="h4">github:</h4>
    {% for shot in datadict.oscp.resources.notes.github.screenshots %}
    <p style="text-align:center;"><a href={{ datadict.oscp.resources.notes.github.url }}><img class="sqimages" src={{ shot }} style="max-width:300px;"></a></p>
    {% endfor %}

    <h4 class="h4">files:</h4>
    <ul>
      {% for file in datadict.oscp.resources.notes.files %}
      <li><a href={{ file.url }}>{{ file.name }} <code>(sha256:{{ file.sha256 }})</code></a></li>
      {% endfor %}
    </ul>

    <h4 class="h4">writeups:</h4>
    {% for writeup in datadict.oscp.resources.notes.writeups %}
    <div class="entry">
      <time>{{ writeup.date }}</time>
      {{ writeup.sparkline }} <a class="post-title" href="{{ writeup.url }}">{{ writeup.title }}</a>
      <span class="tags">{% for tag in writeup.tags %}<a href="/tags.html#{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</span>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
