{% extends "basepost.html" %}
{% block body %}
  <h1>{{ datadict.post.title }}</h1>
    {% if datadict.post.previous and datadict.post.next %}
      <p style="float:left;"><a href="{{ datadict.post.previous.url }}"> « </a>📅 published on <code>{{ datadict.post.pretty_date }}</code><a href="{{ datadict.post.next.url }}"> » </a></p>
    {% elif datadict.post.previous %}
      <p style="float:left;"><a href="{{ datadict.post.previous.url }}"> « </a>📅 published on <code>{{ datadict.post.pretty_date }}</code></p>
    {% elif datadict.post.next %}
      <p style="float:left;">📅 published on <code>{{ datadict.post.pretty_date }}</code><a href="{{ datadict.post.next.url }}"> » </a></p>
    {% endif %}
    <p style="float:right;">🔖 tagged {{ datadict.post.tags|joinlistand("/tags.html#") }}</p>
    <div style="clear:both;"></div>
    {{ datadict.post.content }}
    {% if datadict.post.previous and datadict.post.next %}
      <p style="float:left;">« <a href="{{ datadict.post.previous.url }}">{{ datadict.post.previous.title|trimlength }}</a> «</p>
      <p style="float:right;">» <a href="{{ datadict.post.next.url }}">{{ datadict.post.next.title|trimlength }}</a> »</p>
    {% elif datadict.post.previous %}
      <p style="float:left;">« <a href="{{ datadict.post.previous.url }}">{{ datadict.post.previous.title }}</a> «</p>
    {% elif datadict.post.next %}
      <p style="float:right;">» <a href="{{ datadict.post.next.url }}">{{ datadict.post.next.title }}</a> »</p>
    {% endif %}
{% endblock %}
