{% extends "base.html" %}
{% block main %}
  <article class="post">
  <a name="top"></a>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default section compact">
      <p class="heading">Projects</p>
        <div class="panel-body">
          {%for project in data.research.projects%}
            <span class="date">{{loop.index}}</span>. <span class="posttitle">{{project.title}}</span> - <span>{{project.description}}</span> (<a href="{{project.url}}" target="_blank">src</a>)<br/>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
