{% extends "base.html" %}
{% block body %}
      <h1>🔬 Research <a name="top"></a></h1>
        <h2>📜 Patents<a href="#top"> ↟ </a></h2>
          <ul>
          {% for patent in datadict.metadata.research.patents %}
            {% if patent.url is not none %}
              <li><code>{{ patent.date }}</code>: {{ patent.name }} (<a href="{{ patent.url }}" target="_blank">{{ patent.id }}</a>)</li>
            {% else %}
              <li><code>{{ patent.date }}</code>: {{ patent.name }} (<code>{{ patent.id }}</code>)</li>
            {% endif %}
          {% endfor %}
          </ul>
        <h2>🎙️ Talks/Papers/Demos<a href="#top"> ↟ </a></h2>
          {% for talk in datadict.metadata.research.talks %}
            <h3>{{ talk.name }}</h3>
            <p>{{ talk.description }}</p>
            <ul>
            {% for conference in talk.conferences %}
              <li><code>{{ conference.date }}</code>: <a href="{{ conference.url }}" target="_blank">{{ conference.name }}</a></li>
            {% endfor %}
            </ul>
          {% endfor %}
        <h2>📰 Media<a href="#top"> ↟ </a></h2>
          <ul>
          {% for article in datadict.metadata.research.media %}
            <li><code>{{ article.date }}</code>: {{ article.name }} (<a href="{{ article.url }}" target="_blank">{{ article.publication }}</a>)</li>
          {% endfor %}
          </ul>
{% endblock %}
