{% extends "base.html" %}
{% block main %}
  <article class="post">
  <a name="top"></a><a name="patents"></a>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default section compact">
        <p class="heading">Patents</p>
        <div class="panel-body">
          <table>
            {%for year in data.research.patents|sort(reverse=True)%}
              {%for month, value in data.research.patents[year].iteritems()|sort(reverse=True)%}
                <span class="date">{{value.pretty_date}}</span> - <span class="posttitle">{{value.title}}</span>
                {%if value.patent_id%}
                  {%if value.patent_url%}
                  <span> (<a href="{{value.patent_url}}" target="_blank">{{value.patent_id}}</a>)</span>
                  {%endif%}
                {%endif%}
                <br/>
                <span>{{value.description}}</span>
                <br/>
                <br/>
              {%endfor%}
            {%endfor%}
          </table>
        </div>
      </div>
    </div>
  </div>
  <a name="talks"></a>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default section compact">
      <p class="heading">Talks/Papers/Demos</p>
        <div class="panel-body">
          {%for talk in data.research.talks%}
          <span class="posttitle">{{talk.title}}</span><br/>
          <span>{{talk.description}}</span><br/>
            {%for event in talk.events%}
              <span class="date">{{event.pretty_date}}</span> - <span><a href="{{event.url}}" target="_blank">{{event.name}}</a></span><br/>
            {%endfor%}
            <br/>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
