{% extends "base.html" %}
{% block content %}
  <h1 class="h1">🛰️ Satellite Views</h1>
    <ul class="active">
      <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>Current Time</h2><ul class="active nested">
        <li><p id=currenttime_utc></p></li>
        <li><p id=currenttime_local></p></li>
      </ul></li>
      <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>Latest Images</h2><ul class="active nested">
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO HMI Dopplergram</h3><p class="active nested"><small>Courtesy of <a href="https://sdo.gsfc.nasa.gov/">NASA Solar Dynamics Observatory (SDO) and the Atmospheric Imaging Assembly (AIA), Extreme Ultraviolet Variability Experiment (EVE), and Helioseismic Magnetic Imager (HMI) science</a> teams.</small> <a href="https://www.nasa.gov/content/goddard/sdo-hmi-doppergram/">[🔗]</a></p><p class="active nested"><a id="sdohmidhref"><img class="sqimages" id=sdohmid></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO HMI Intensitygram</h3><p class="active nested"><small>Courtesy of <a href="https://sdo.gsfc.nasa.gov/">NASA Solar Dynamics Observatory (SDO) and the Atmospheric Imaging Assembly (AIA), Extreme Ultraviolet Variability Experiment (EVE), and Helioseismic Magnetic Imager (HMI) science</a> teams.</small> <a href="https://svs.gsfc.nasa.gov/3988">[🔗]</a></p><p class="active nested"><a id="sdohmiichref"><img class="sqimages" id=sdohmiic></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO AIA 171 A</h3><p class="active nested"><small>Courtesy of <a href="https://sdo.gsfc.nasa.gov/">NASA Solar Dynamics Observatory (SDO) and the Atmospheric Imaging Assembly (AIA), Extreme Ultraviolet Variability Experiment (EVE), and Helioseismic Magnetic Imager (HMI) science</a> teams.</small> <a href="https://svs.gsfc.nasa.gov/3980">[🔗]</a></p><p class="active nested"><a id="sdo0171href"><img class="sqimages" id=sdo0171></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO AIA 304 A</h3><p class="active nested"><small>Courtesy of <a href="https://sdo.gsfc.nasa.gov/">NASA Solar Dynamics Observatory (SDO) and the Atmospheric Imaging Assembly (AIA), Extreme Ultraviolet Variability Experiment (EVE), and Helioseismic Magnetic Imager (HMI) science</a> teams.</small> <a href="https://svs.gsfc.nasa.gov/3983">[🔗]</a></p><p class="active nested"><a id="sdo0304href"><img class="sqimages" id=sdo0304></a></p></li>

        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>DSCOVR EPIC (Natural)</h3><p class="active nested"><small>Courtesy of <a href="https://en.wikipedia.org/wiki/Deep_Space_Climate_Observatory">Deep Space Climate Observatory (DSCOVR)</a>, <a href="https://epic.gsfc.nasa.gov/">Earth Polychromatic Imaging Camera (EPIC)</a>, <a href="https://www.noaa.gov/">National Oceanic and Atmospheric Administration (NOAA)</a>. <a href="https://epic.gsfc.nasa.gov/api/natural">[📄]</a></small></p> <p class="active nested"><small id="dscovrepicnatinfo"></small></p> <p class="active nested"><a id="dscovrepicnathref"><img class="sqimages" id="dscovrepicnat"></a></p></li>

        <!--<li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Asia (VIS)</h3><p class="active nested"><small>Courtesy of <a href="https://mausam.imd.gov.in/">India Meteorological Department (IMD), Ministry of Earth Sciences, Government of India</a>.</small></p><p class="active nested"><a id="insat3dasiavishref"><img class="sqimages" id=insat3dasiavis></a></p></li>-->
        <!--<li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Asia (IR)</h3><p class="active nested"><small>Courtesy of <a href="https://mausam.imd.gov.in/">India Meteorological Department (IMD), Ministry of Earth Sciences, Government of India</a>.</small></p><p class="active nested"><a id="insat3dasiair1href"><img class="sqimages" id=insat3dasiair1></a></p></li>-->

        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Global (VIS)</h3><p class="active nested"><small>Courtesy of <a href="https://mausam.imd.gov.in/">India Meteorological Department, Ministry of Earth Sciences, Government of India</a>.</small></p><p class="active nested"><a id="insat3dglobalvishref"><img class="sqimages" id="insat3dglobalvis"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Global (IR)</h3><p class="active nested"><small>Courtesy of <a href="https://mausam.imd.gov.in/">India Meteorological Department, Ministry of Earth Sciences, Government of India</a>.</small></p><p class="active nested"><a id="insat3dglobalir1href"><img class="sqimages" id="insat3dglobalir1"></a></p></li>

        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>METEOSAT 0</h3><p class="active nested"><small>Courtesy of <a href="https://www.eumetsat.int/">European Organisation for the Exploitation of Meteorological Satellites (EUMETSAT)</a>.</small></p><p class="active nested"><a id="meteosat0href"><img class="sqimages" id="meteosat0"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>METEOSAT 41.5</h3><p class="active nested"><small>Courtesy of <a href="https://www.eumetsat.int/">European Organisation for the Exploitation of Meteorological Satellites (EUMETSAT)</a>.</small></p><p class="active nested"><a id="meteosat415href"><img class="sqimages" id="meteosat415"></a></p></li>

        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>Himawari (True Color)</h3><p class="active nested"><small>Courtesy of <a href="https://rammb2.cira.colostate.edu/">Regional and Mesoscale Meteorology Branch (RAMMB), Cooperative Institute for Research in the Atmosphere (CIRA)</a>.</small></p><p class="active nested"><a id="himawari_truecolorrepohref"><img class="sqimages" id="himawari_truecolorrepo"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>Himawari (Natural Color)</h3><p class="active nested"><small>Courtesy of <a href="https://rammb2.cira.colostate.edu/">Regional and Mesoscale Meteorology Branch (RAMMB), Cooperative Institute for Research in the Atmosphere (CIRA)</a>.</small></p><p class="active nested"><a id="himawari_naturalcolorhref"><img class="sqimages" id="himawari_naturalcolor"></a></p></li>

        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>GOES17</h3><p class="active nested"><small>Courtesy of <a href="https://www.star.nesdis.noaa.gov/star/index.php">Center for Satellite Applications and Research (STAR), National Environmental Satellite, Data, and Information Service (NESDIS), National Oceanic and Atmospheric Administration (NOAA)</a>.</small></p><p class="active nested"><a id="goes17westfdhref"><img class="sqimages" id="goes17westfd"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>GOES16</h3><p class="active nested"><small>Courtesy of <a href="https://www.star.nesdis.noaa.gov/star/index.php">Center for Satellite Applications and Research (STAR), National Environmental Satellite, Data, and Information Service (NESDIS), National Oceanic and Atmospheric Administration (NOAA)</a>.</small></p><p class="active nested"><a id="goes16eastfdhref"><img class="sqimages" id="goes16eastfd"></a></p></li>
      </ul></li>
    </ul>
    <script>
      function doTime() {
        var localdatetime = new Date();
        document.getElementById("currenttime_utc").innerHTML = "<code>GMT</code>: " + localdatetime.toUTCString();
        document.getElementById("currenttime_local").innerHTML = "<code>Local</code>: " + localdatetime.toString();
      }
      function dscovrepic_natural() {
        let natrqst = new XMLHttpRequest();
        natrqst.open("GET", "https://epic.gsfc.nasa.gov/api/natural");
        natrqst.send();
        natrqst.onload = () => {
          if (natrqst.status === 200) {
            natjson = JSON.parse(natrqst.response);
            latestdateentry = natjson[0]["date"];
            actualdate = latestdateentry.split(" ")[0];
            year = actualdate.split("-")[0];
            month = actualdate.split("-")[1];
            day = actualdate.split("-")[2];
            url = "https://epic.gsfc.nasa.gov/archive/natural/" + year + "/" + month + "/" + day + "/jpg/" + natjson[0]["image"] + ".jpg";
            document.getElementById("dscovrepicnat").src = url; document.getElementById("dscovrepicnathref").href = url;
            document.getElementById("dscovrepicnatinfo").innerText = natjson[0]["caption"] + " on " + natjson[0]["date"] + ".";
          } else {
            console.log(`error ${natrqst.status} ${natrqst.statusText}`);
          }
        }
      }
      function doImages() {
        document.getElementById("sdohmid").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMID.jpg"; document.getElementById("sdohmidhref").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMID.jpg";
        document.getElementById("sdohmiic").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMIIC.jpg"; document.getElementById("sdohmiichref").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMIIC.jpg";
        document.getElementById("sdo0171").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_0171.jpg"; document.getElementById("sdo0171href").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0171.jpg";
        document.getElementById("sdo0304").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_0304.jpg"; document.getElementById("sdo0304href").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0304.jpg";

        dscovrepic_natural();

        /*document.getElementById("insat3dasiavis").src = "https://mausam.imd.gov.in/Satellite/Converted/VIS.gif"; document.getElementById("insat3dasiavishref").href = "https://mausam.imd.gov.in/Satellite/Converted/VIS.gif";*/
        /*document.getElementById("insat3dasiair1").src = "https://mausam.imd.gov.in/Satellite/Converted/IR1.gif"; document.getElementById("insat3dasiair1href").href = "https://mausam.imd.gov.in/Satellite/Converted/IR1.gif";*/

        document.getElementById("insat3dglobalvis").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_vis.jpg"; document.getElementById("insat3dglobalvishref").href = "https://mausam.imd.gov.in/Satellite/3Dglobe_vis.jpg";
        document.getElementById("insat3dglobalir1").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_ir1.jpg"; document.getElementById("insat3dglobalir1href").href = "https://mausam.imd.gov.in/Satellite/3Dglobe_ir1.jpg";

        document.getElementById("meteosat0").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat0href").href = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_HighResolution.jpg";
        document.getElementById("meteosat415").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat415href").href = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_HighResolution.jpg";

        document.getElementById("himawari_truecolorrepo").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg"; document.getElementById("himawari_truecolorrepohref").href = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg";
        document.getElementById("himawari_naturalcolor").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg"; document.getElementById("himawari_naturalcolorhref").href = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg";

        document.getElementById("goes16eastfd").src = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/678x678.jpg"; document.getElementById("goes16eastfdhref").href = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/1808x1808.jpg";
        document.getElementById("goes17westfd").src = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/678x678.jpg"; document.getElementById("goes17westfdhref").href = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/1808x1808.jpg";
      }
      window.onload = () => {
        doTime();
        setInterval(() => {doTime();},1000); // every .5s
        doImages();
        //setInterval(() => {doImages();},1000*60*10); // every 10m
      }
    </script>
{% endblock %}
