{% extends "base.html" %}
{% block body %}
  <h1 class="h1">🛰️ Satellite Views</h1>
    <ul class="active">
      <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>Current Time</h2><ul class="active nested">
        <li><p id=currenttime_utc></p></li>
        <li><p id=currenttime_local></p></li>
      </ul></li>
      <li><h2 class="h2 collapsible expanded" onclick=toggle(this);>Latest Images</h2><ul class="active nested">
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO Dopplergram <a href="https://twitter.com/search?q=%23SDO%20%23Sun">[🔗]</a></h3><p class="active nested"><a id="sdohmidhref"><img class="sqimages" id=sdohmid></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO Intensitygram <a href="https://twitter.com/search?q=%23SDO%20%23Sun">[🔗]</a></h3><p class="active nested"><a id="sdohmiichref"><img class="sqimages" id=sdohmiic></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO AIA 171 A <a href="https://twitter.com/search?q=%23SDO%20%23Sun">[🔗]</a></h3><p class="active nested"><a id="sdo0171href"><img class="sqimages" id=sdo0171></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>SDO AIA 304 A <a href="https://twitter.com/search?q=%23SDO%20%23Sun">[🔗]</a></h3><p class="active nested"><a id="sdo0304href"><img class="sqimages" id=sdo0304></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Asia (VIS) <a href="https://twitter.com/search?q=%23INSAT3D">[🔗]</a></h3><p class="active nested"><a id="insat3dasiavishref"><img class="sqimages" id=insat3dasiavis></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Asia (IR) <a href="https://twitter.com/search?q=%23INSAT3D">[🔗]</a></h3><p class="active nested"><a id="insat3dasiair1href"><img class="sqimages" id=insat3dasiair1></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Global (VIS) <a href="https://twitter.com/search?q=%23INSAT3D">[🔗]</a></h3><p class="active nested"><a id="insat3dglobalvishref"><img class="sqimages" id="insat3dglobalvis"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>INSAT3D Global (IR) <a href="https://twitter.com/search?q=%23INSAT3D">[🔗]</a></h3><p class="active nested"><a id="insat3dglobalir1href"><img class="sqimages" id="insat3dglobalir1"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>METEOSAT 0<a href="https://twitter.com/search?q=%23METEOSAT0">[🔗]</a></h3><p class="active nested"><a id="meteosat0href"><img class="sqimages" id="meteosat0"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>METEOSAT 41.5<a href="https://twitter.com/search?q=%23METEOSAT415">[🔗]</a></h3><p class="active nested"><a id="meteosat415href"><img class="sqimages" id="meteosat415"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>Himawari (True Color) <a href="https://twitter.com/search?q=%23Himawari">[🔗]</a></h3><p class="active nested"><a id="himawari_truecolorrepohref"><img class="sqimages" id="himawari_truecolorrepo"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>Himawari (Natural Color) <a href="https://twitter.com/search?q=%23Himawari">[🔗]</a></h3><p class="active nested"><a id="himawari_naturalcolorhref"><img class="sqimages" id="himawari_naturalcolor"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>GOES17 <a href="https://twitter.com/search?q=%23GOES17">[🔗]</a></h3><p class="active nested"><a id="goes17westfdhref"><img class="sqimages" id="goes17westfd"></a></p></li>
        <li><h3 class="h3 collapsible expanded" onclick=toggle(this);>GOES16 <a href="https://twitter.com/search?q=%23GOES16">[🔗]</a></h3><p class="active nested"><a id="goes16eastfdhref"><img class="sqimages" id="goes16eastfd"></a></p></li>
      </ul></li>ID
    </ul>
    <script>
      function doTime() {
        var localdatetime = new Date();
        document.getElementById("currenttime_utc").innerHTML = "<code>GMT</code>: " + localdatetime.toUTCString();
        document.getElementById("currenttime_local").innerHTML = "<code>Local</code>: " + localdatetime.toString();
      }
      function doImages() {
        document.getElementById("sdohmid").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMID.jpg"; document.getElementById("sdohmidhref").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMID.jpg";
        document.getElementById("sdohmiic").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_HMIIC.jpg"; document.getElementById("sdohmiichref").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMIIC.jpg";
        document.getElementById("sdo0171").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_0171.jpg"; document.getElementById("sdo0171href").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0171.jpg";
        document.getElementById("sdo0304").src = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_512_0304.jpg"; document.getElementById("sdo0304href").href = "https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0304.jpg";
        document.getElementById("insat3dasiavis").src = "https://mausam.imd.gov.in/Satellite/Converted/VIS.gif"; document.getElementById("insat3dasiavishref").href = "https://mausam.imd.gov.in/Satellite/Converted/VIS.gif";
        document.getElementById("insat3dasiair1").src = "https://mausam.imd.gov.in/Satellite/Converted/IR1.gif"; document.getElementById("insat3dasiair1href").href = "https://mausam.imd.gov.in/Satellite/Converted/IR1.gif";
        document.getElementById("insat3dglobalvis").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_vis.jpg"; document.getElementById("insat3dglobalvishref").href = "https://mausam.imd.gov.in/Satellite/3Dglobe_vis.jpg";
        document.getElementById("insat3dglobalir1").src = "https://mausam.imd.gov.in/Satellite/3Dglobe_ir1.jpg"; document.getElementById("insat3dglobalir1href").href = "https://mausam.imd.gov.in/Satellite/3Dglobe_ir1.jpg";
        document.getElementById("meteosat0").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat0href").href = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSG_RGBNatColourEnhncd_HighResolution.jpg";
        document.getElementById("meteosat415").src = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_LowResolution.jpg"; document.getElementById("meteosat415href").href = "https://eumetview.eumetsat.int/static-images/latestImages/EUMETSAT_MSGIODC_RGBNatColourEnhncd_HighResolution.jpg";
        document.getElementById("himawari_truecolorrepo").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg"; document.getElementById("himawari_truecolorrepohref").href = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_true_color.jpg";
        document.getElementById("himawari_naturalcolor").src = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg"; document.getElementById("himawari_naturalcolorhref").href = "http://rammb.cira.colostate.edu/ramsdis/online/images/latest/himawari-8/full_disk_ahi_natural_color.jpg";
        document.getElementById("goes16eastfd").src = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/678x678.jpg"; document.getElementById("goes16eastfdhref").href = "https://cdn.star.nesdis.noaa.gov/GOES16/ABI/FD/GEOCOLOR/1808x1808.jpg";
        document.getElementById("goes17westfd").src = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/678x678.jpg"; document.getElementById("goes17westfdhref").href = "https://cdn.star.nesdis.noaa.gov/GOES17/ABI/FD/GEOCOLOR/1808x1808.jpg";
      }
      window.onload = () => {
        doTime();
        setInterval(() => {doTime();},1000); // every .5s
        doImages();
        //setInterval(() => {doImages();},1000*60*10); // every 10m
      }
    </script>
    <script>
      function toggle(s){
        s.classList.toggle("expanded");
        for(var l=s.nextElementSibling;l;){
          l.classList.contains("collapsible")&&l.classList.toggle("expanded"),l.classList.toggle("active"),l=l.nextElementSibling
        }
      }
    </script>
{% endblock %}
