{% extends "base.html" %}
{% block content %}
<article id="top">
  <h1 class="h1">7h3rAm</h1>

  <div class="content">
    {% for category in datadict.startpage.categories %}
    <h2 class="h2">{{ category }} <a href="#top" class="top-link" style="font-size:0.8em;color:var(--muted);">[^]</a></h2>
    <ul>
      {% for entry in datadict.startpage.categories[category] %}
      <li><a href="{{ entry.url }}" target="_blank">{{ entry.name }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</article>
{% endblock %}
