@font-face {
  font-family: Vollkorn;
  src: url(/static/fonts/vollkorn/Vollkorn-Regular.ttf);
}

::-moz-selection {
  background: #ffcc66;
  color: #515151;
}
::selection {
  background: #f88017;
  color: #ffffff;
}

#content {
  background-color: rgb(255, 255, 255);
  color: #2d2d2d;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

body {
  /*background-color: #2d2d2d;*/
  background-color: rgb(245, 242, 240);
  background-color: rgb(238, 238, 238);
  font: 18px/22px "Vollkorn", serif;
  margin: 20px auto 20px auto;
  padding: 0px;
  text-align: justify;
  clear: both;
  width: 80%;
}

hr {
  border-top: 1px dotted #747D7D;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  border: 0.9px solid #2d2d2d;
}

a {
  outline: 0px;
  text-decoration: none;
}
a img {
  border: 0px;
  text-decoration: none;
}
a:link, a:visited {
  color: rgb(242, 119, 122);
  color: rgb(238, 110, 115)
}
a:hover, h1 a:hover {
  text-decoration: none;
}

p {
  margin-top: 9px;
  margin-bottom: 9px;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(102, 153, 204);
  margin: 6px 0px 6px 0px;
}

pre, code, tt {
  font-family: "Inconsolata", "Consolas", "Courier New";
  color: #3F3F3F;
  overflow-x: auto;
}
pre {
  border: 1px solid #dddddd;
  font-size: 15px;
  padding: 9px;
  margin: 0px 0px 9px 0px;
  background: #fafafa;
}
code {
  font-weight: bold;
}
tt {
  padding: 2px;
  font-size: 6px;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2px;
}

table {
  padding: 0px;
  margin: 0px;
  border-spacing: 1px;
  width: 100%;
}

div.tags {
  margin: auto;
  width: 75%;
}

.post {
  display: block;
  clear: both;
  margin: 25px 35px 25px 35px;
}

.heading {
  color: rgb(81, 65, 99);
  font-size: 27px;
  font-weight: bold;
}

.compact {
  margin: 3px 0px 3px 0px;
}

.section {
  margin: 0px 0px 20px 0px;
}

.meta {
  font-family: "Inconsolata", "Consolas", "Courier New";
  font-size: 18px;
  font-weight: bold;
}

.date {
  color: rgb(0, 128, 128);
  text-align: left;
  font-family: "Inconsolata", "Consolas", "Courier New";
  font-size: 15px;
  font-weight: bold;
}

.aboutimg {
  float: right;
  margin-left: 15px;
  margin-bottom: 9px;
  width: 180px;
  height: 200px;
  display: block;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: 2px solid #222;
  border: 1px solid #E1E1E8;
}

.td {
  "vertical-align": "center";
  "text-align": "left";
  "width": "auto";
}

.pseudolink {
  cursor:pointer;
}

.posttitle {
  color: rgb(102, 153, 204);
}

.blogtitle {
  color: rgb(81, 65, 99);
  font-size: 36px;
  font-weight: bold;
}

.blognavbar {
  color: rgb(81, 65, 99);
  font-size: 22px;
  text-align: right;
}

a.blogtitle:link, a.blogtitle:visited {
  color: inherit;
}

a.blognavbar:link, a.blognavbar:visited {
  color: inherit;
  font-size: 4px;
}

.header {
  margin: 25px 35px 35px 35px;
  color: rgb(81, 65, 99);
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.footer {
  display: block;
  clear: both;
  margin: 25px 35px 25px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

ul.tagcloud {
  font-size: 15px;
  margin-left: 0px;
  padding: 0px;
  list-style: none;
}

ul.tagcloud li {
  margin: 0px;
  padding: 0px 9px;
  display: inline;
}

#cloud {
  margin: 0px;
  font-family: "Vollkorn", serif;
  padding: 2px;
  line-height: 3em;
  text-align: center;
}
#cloud li {
  display: inline-block;
}
#cloud a {
  padding: 0px;
  text-decoration: none;
  color: #000000;
}

.base00 { color: #2d2d2d; }
.base01 { color: #393939; }
.base02 { color: #515151; }
.base03 { color: #747369; }
.base04 { color: #a09f93; }
.base05 { color: #d3d0c8; }
.base06 { color: #e8e6df; }
.base07 { color: #f2f0ec; }
.base08 { color: #f2777a; }
.base09 { color: #f99157; }
.base0a { color: #ffcc66; }
.base0b { color: #99cc99; }
.base0c { color: #66cccc; }
.base0d { color: #6699cc; }
.base0e { color: #cc99cc; }
.base0f { color: #d27b53; }
