/*
 * name: nblock.org - template
 * author: florian preinstorfer
 * license: GPLv3
 * inspired by:
 *  - Smashing HTML5 (Enrique RamÃ­rez, http://enrique-ramirez.com)
 *  - lucumur (Armin Ronacher, http://lucumr.pocoo.org)
 *  - Ghostwriter (Bruno Cavalcante, http://www.brunocavalcante.com.br/blog/2011/01/tema-wordpress-ghostwriter)
 *  - many, many others

 * edited by Ankur Tyagi for 7h3rAm.github.io
*/

/* font */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

@font-face {
  font-family: Hoefler;
  src: url(/static/fonts/hoefler/regular.ttf);
}
@font-face {
  font-family: Vollkorn;
  src: url(/static/fonts/vollkorn/Vollkorn-Regular.ttf);
}

/* body */
body {
  /*background-color: #2d2d2d;*/
  background-color: #2d2d2d;
  color: #747D7D;
  font: 18px/24px 'Vollkorn', 'Palatino', 'Palatino Linotype', 'Georgia', serif;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
  clear: both;
  width: 80%;
}

/* headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em}   /* 14px */

h1, h2, h3, h4, h5, h6 {
  color: #6699cc;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: .8em;
  font-family: 'Vollkorn', 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr {
  border-top: 1px dotted #747D7D;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 0.2em;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-sizing: border-box;
  border: 0.1em solid #2d2d2d;
}

/* hyperlinks */
a {
  outline: 0;
  text-decoration: none;
}
a img {
  border: 0px;
  text-decoration: none;
}
a:link, a:visited {
  color: #f2777a;
  padding: 0 1px;
  /*text-decoration: underline;*/
}
a:hover, h1 a:hover {
  /*background-color: #f2777a;
  color: #ffffff;*/
  text-decoration: none;
}

/* Paragraphs */
p {
  margin-top: 9px;
  margin-bottom: 1em;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {
  background: #ffcc66;
  color: #515151;
}
::selection {
  background: #f88017;
  color: #ffffff;
}

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em;
}

ol {
  list-style: outside decimal;
  margin: 1em 1em;
  padding: 0em 10px;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* code formatting */
pre, code, tt {
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', 'Courier New';
  /*font-size: 0.82em;*/
  color: #3F3F3F;
  overflow-x: auto;
}
pre {
  line-height: 1.3;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 1em;
  background: #fafafa;
}
tt {
  padding: 2px;
  font-size: 0.7em;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 4px;
}

/* quotes */
blockquote {
  margin: 20px;
  font-style: italic;
}

/* tables */
table {
  /*margin: .5em auto 1.5em auto;*/
  padding: 0px;
  margin: 0px;
  border-spacing: 1px;
  width: 100%;
}

/* thead */
thead th {
  padding: .5em .4em;
  text-align: left;
}
thead td {}

/* tbody */
tbody td {padding: .5em .4em;}
tbody th {}

tbody .alt td {}
tbody .alt th {}

/* tfoot */
tfoot th {}
tfoot td {}

/* layout */
img.right figure.right {
  float: right;
  margin: 0 0 2em 2em;
}
img.left, figure.left {
  float: right;
  margin: 0 0 2em 2em;
}

.about {
  /*float: left;
  margin-right: 15px;
  margin-bottom: 10px;*/

  float: right;
  margin-left: 15px;
  margin-bottom: 10px;

  width: 150px;
  height: 180px;
  display: block;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: 2px solid #222;
  border: 1px solid #E1E1E8;
}

.align-center {
  display: block;
  margin: 0 auto;
}

.align-right {
  float: right;
  margin-left: 28px;
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid #E1E1E8; border-radius: 6px;
}

.align-left {
  float: left;
  margin-right: 10px;
}

/* header */
.header {
  margin: 0 auto;
  /*padding: 2.5em 0 0 0;*/
}

.header h1 {
  font-size: 2.2em;
  line-height: 0;
}

.header h1 a:link, .header h1 a:visited {
  text-align: center;
  display: block;
  font-weight: bold;
  margin: 0 0 .6em .2em;
  text-decoration: none;
  /*width: 427px;*/
}
.header h1 a:hover {
  background: none;
  color: #f2777a;
  text-shadow: none;
}

/* main nav */
.header nav {
  background: #F5F4EF;
  font-size: 1.143em;
  height: 40px;
  line-height: 35px;
  margin: 1em auto 1em auto;
  padding: 0;
  text-align: center;
  /*width: 960px;*/
  font-weight: bold;
  /*text-transform: uppercase;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.header nav ul {
  list-style: none;
  margin: 0 0;
  padding-left: 0px;
  /*width: 960px;*/
}
.header nav li {
  display: inline;
  margin: 0;
}

.header nav a:link, .header nav a:visited {
  color: #000305;
  display: inline-block;
  height: 40px;
  padding: 5px 1.5em;
  text-decoration: none;
}

.header nav a:hover, .header nav .active a:link, .header nav .active a:visited {
  color: #ffffff;
  background: #f2777a;
  text-shadow: none !important;
}

.header nav li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.pseudolink {
  cursor:pointer;
}

.base00 { color: #2d2d2d; }
.base01 { color: #393939; }
.base02 { color: #515151; }
.base03 { color: #747369; }
.base04 { color: #a09f93; }
.base05 { color: #d3d0c8; }
.base06 { color: #e8e6df; }
.base07 { color: #f2f0ec; }
.base08 { color: #f2777a; }
.base09 { color: #f99157; }
.base0a { color: #ffcc66; }
.base0b { color: #99cc99; }
.base0c { color: #66cccc; }
.base0d { color: #6699cc; }
.base0e { color: #cc99cc; }
.base0f { color: #d27b53; }


/* body */
#content {
  background: #F5F4EF;
  color: #2d2d2d;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  /*width: 920px;*/

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.post-title {
  text-align: left;
  color: #6699cc;
}

/* footer */
.footer {
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  font-weight: bold;

  color: #000305;
  background: #F5F4EF;
  margin: 1em auto 1em auto;
  padding: 0;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.footer p {margin: -5px;}

/* overview (index) */
div.overview { margin: 25px 35px 25px 35px; }
div.overview h1 {
  display: inline;
  line-height: 25px;
  margin: 0;
  font-size: 20px;
}
div.overview-date {
  float: right;
  /*width: 150px;*/
  /*color: #66cccc;*/
  color: rgb(0, 128, 128);
  text-align: right;
  font-style: italic;
}
div.overview-description {
  margin: 0px;
  padding: 0px;
}

/* tags */
div.tags {
  margin: auto;
  width: 75%;
}

/* blog post */
.post {
  display: block;
  clear: both;
  margin: 25px 35px 25px 35px;
}

.post-summary {
  font-style: italic;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.post-summary:before {
  color: #514163;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
}
.post-summary:after {
  color: #514163;
  content: close-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.10em;
  vertical-align: -0.4em;
}
.post-summary p {
  display: inline;
}

p.post-date {
  width: 100%;
  float: left;
  /*margin: 1.5em 0px 1.0em 0px;*/
  font-style: italic;
  /*color: #66cccc;*/
  color: rgb(0, 128, 128);
}

/* bottomline (permalink, tweet this, tags */
div.post-bottomline {
  /*padding-top: 5px;
  font-style: italic;*/
}
p.post-bottomline-social { float: left; }
p.post-bottomline-tags { float: right; }

/* tagcloud */
ul.tagcloud {
  font-size: 16px;
  margin-left: 0px;
  padding: 0;
  list-style: none;
}

ul.tagcloud li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

/* pagination */
div.pagination {
  margin: 36px 0 0 0;
  text-align: center;
}

div.pagination strong {
  font-weight: normal;
  font-style: italic;
}

#cloud { margin: 0; font-family: 'Vollkorn', 'Palatino', 'Palatino Linotype', 'Georgia', serif; padding: 2px; line-height: 3em; text-align: center; }
#cloud li { display: inline-block; }
#cloud a { padding: 0px; text-decoration: none; color: #000000; }

/* code below added for dashboard */
#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: rgb(0, 128, 128);
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: rgb(255, 183, 69);
}

.btn-danger.btn-outline {
  color: rgb(220, 20, 60);
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 30px;
}

.panel-default .panel-heading {
  /*color: #6699cc;*/
  color: rgb(81, 65, 99);
  font-size: 24px;
  font-weight: bold;
  font-family: 'Vollkorn', 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

.panel-blue {
  border-color: #6699cc;
}

.panel-blue .panel-heading {
  border-color: #6699cc;
  color: #fff;
  background-color: #6699cc;
}

.panel-blue a {
  color: #6699cc;
}

.panel-blue a:hover {
  color: #6699cc;
}

.panel-green {
  border-color: rgb(0, 128, 128);
}

.panel-green .panel-heading {
  border-color: rgb(0, 128, 128);
  color: #fff;
  background-color: rgb(0, 128, 128);
}

.panel-green a {
  color: rgb(0, 128, 128);
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: rgb(220, 20, 60);
}

.panel-red .panel-heading {
  border-color: rgb(220, 20, 60);
  color: #fff;
  background-color: rgb(220, 20, 60);
}

.panel-red a {
  color: rgb(220, 20, 60);
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: rgb(255, 183, 69);
}

.panel-yellow .panel-heading {
  border-color: rgb(255, 183, 69);
  color: #fff;
  background-color: rgb(255, 183, 69);
}

.panel-yellow a {
  color: rgb(255, 183, 69);
}

.panel-yellow a:hover {
  color: #df8a13;
}

.panel-purple {
  border-color: rgb(81, 65, 99);
}

.panel-purple .panel-heading {
  border-color: rgb(81, 65, 99);
  color: #fff;
  background-color: rgb(81, 65, 99);
}

.panel-purple a {
  color: rgb(81, 65, 99);
}

.panel-purple a:hover {
  color: #df8a13;
}

.panel-cyan {
  border-color: rgb(102, 204, 204);
}

.panel-cyan .panel-heading {
  border-color: rgb(102, 204, 204);
  color: #fff;
  background-color: rgb(102, 204, 204);
}

.panel-cyan a {
  color: rgb(102, 204, 204);
}

.panel-cyan a:hover {
  color: #df8a13;
}

.panel-pink {
  border-color: rgb(242, 119, 122);
}

.panel-pink .panel-heading {
  border-color: rgb(242, 119, 122);
  color: #fff;
  background-color: rgb(242, 119, 122);
}

.panel-pink a {
  color: rgb(242, 119, 122);
}

.panel-pink a:hover {
  color: #df8a13;
}

.panel .slidedown .glyphicon {
  margin-right: 5px;
}

.panel-body {
  //height: 350px;
  //overflow-y: scroll;
}

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: rgb(255, 183, 69) !important;
}

.timeline-badge.danger {
    background-color: rgb(220, 20, 60) !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}
