* { border:0; color: #333; font-family:"FiraCode Nerd Font","Inconsolata",monospace; font-size:12pt; font-weight:normal; list-style:none; margin:auto; max-width:90ch; padding:.2ch; }
@font-face { font-family:"FiraCode Nerd Font"; src:url("/static/fonts/firacode/firacode-nerdfont/Fira Code Regular Nerd Font Complete.ttf"); font-display:swap; }
@media print { a { color:#00f!important; } body { width:auto; font-size:12pt; } }
a { color:#367bf0; text-decoration:none; } a, a:active, a:focus{ outline:none; } a:hover { color:#fc580c; }
blockquote :first-child { margin-top: 0; }
blockquote :last-child { margin-bottom: 0; }
blockquote { background:#eee; border-left:medium solid #ccc; margin:1em 0; padding:0.5em; }
em, i { font-style:italic; }
figcaption { font-size:small; }
figure { margin:1em 0; text-align:center; }
h1 { color:#fc580c; font-size:18pt; }
h2 { color:#900; font-size:16pt; }
h3 { color:#20b2aa; font-size:14pt; }
h4 { color:#e83e8c; font-size:12pt; }
h5 { color:#f90; font-size:11pt; }
h6 { color:#367bf0; font-size:10pt; }
hr { border-top:1px solid #fe4164; }
img { display:block; margin:0 auto; vertical-align:middle; -webkit-border-radius:3px; max-width:99% !important; width:auto; height:auto; max-width:450px; }
img { max-width:100%; }
pre > code > table { margin-left:0px; }
pre > code { -webkit-border-radius:3px; }
pre, code { color:#766e6b; background-color:#f6f6f6; -webkit-border-radius:3px; }
pre::before, pre::after { display:block; }
strong, b { font-weight:bold; }
#cloud a { padding:0px; text-decoration:none; }
#cloud li { display:inline-block; }
#cloud li::before { content:""; }
#cloud { margin:0px; padding:2px; line-height:2em; text-align:center; }
#cloud li::before { border-top:0px solid #FFFFFF; }
#cloud li::after { border-left:0px solid #FFFFFF; }
.menu_home { color:#fc580c; font-size:22pt; } .menu_home:hover { color:#fc580c; }
.menu_archive { color:#20b2aa; font-size:18pt; } .menu_archive:hover { color:#20b2aa; }
.menu_tags { color:#fe4164; font-size:18pt; } .menu_tags:hover { color:#fe4164; }
.menu_stats { color:#69359c; font-size:18pt; } .menu_stats:hover { color:#69359c; }
.hljs-ln-numbers { color:#909090; text-align:right; vertical-align:middle; border-right:0px solid #909090; }
.rectimages { width:540px; height:270px; max-width:540px; max-height:270px; }
.sqimages { width:540px; height:540px; max-width:540px; max-height:540px; }
.nested { display:none; }
.active { display:block; }
.collapsible { cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.collapsible::before { transition:transform .6s ease; display:inline-block; margin-right:9px; }
.expanded::before { -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); transform:rotate(360deg); }
.footer { display:block; width:100%; text-decoration: none !important; border-bottom:none; }
.footercenter { display:inline-block; text-align:center; }
.footspan { color:#766e6b; font-size:11pt; } .footspan:hover { color:#766e6b; }

ul {
  list-style: none;
  padding-left: 20px;
}
li {
  position: relative;
}
li::before, li::after {
  content: "";
  position: absolute;
  left: -12px;
}
li::before {
  border-top: 2px solid #DCDCDC;
  top: 12px;
  width: 8px;
}
li::after {
  border-left: 2px solid #DCDCDC;
  height: 100%;
  top: 4px;
}
li:last-child::after {
  height: 10px;
}
