* { border:0; font-family:"FiraCode Nerd Font","Inconsolata",monospace; font-size:12pt; font-weight:normal; list-style:none; margin:auto; max-width:90ch; padding:.2ch; }
@font-face { font-family:"FiraCode Nerd Font"; src:url("/static/fonts/firacode/firacode-nerdfont/Fira Code Regular Nerd Font Complete.ttf"); font-display:swap; }
@media print { a { color:#00f!important; } body { width:auto; font-size:12pt; } }
a { color:#367bf0; text-decoration:none; } a, a:active, a:focus{ outline:none; } a:hover { color:#fc580c; }
blockquote :first-child { margin-top: 0; }
blockquote :last-child { margin-bottom: 0; }
blockquote { background:#eee; border-left:medium solid #ccc; margin:1em 0; padding:0.5em; }
em, i { font-style:italic; }
figcaption { font-size:small; }
figure { margin:1em 0; text-align:center; }
h1, h2, h3, h4, h5, h6 { margin-top:.1em; margin-bottom:.1em; }
h1 { font-size:18pt; color:#69359c; }
h2 { font-size:16pt; } h2::before { float:left; font-size:14pt; content:"+ "; color:#DCDCDC; } h2::after { float:right; font-size:14pt; content:"+"; color:#DCDCDC; }
h3 { font-size:14pt; } h3::before { float:left; font-size:14pt; content:"+ "; color:#DCDCDC; } h3::after { float:right; font-size:14pt; content:"+"; color:#DCDCDC; }
h4 { font-size:12pt; } h4::before { float:left; font-size:14pt; content:"+ "; color:#DCDCDC; } h4::after { float:right; font-size:14pt; content:"+"; color:#DCDCDC; }
h5 { font-size:11pt; } h5::before { float:left; font-size:14pt; content:"+ "; color:#DCDCDC; } h5::after { float:right; font-size:14pt; content:"+"; color:#DCDCDC; }
h6 { font-size:10pt; } h6::before { float:left; font-size:14pt; content:"+ "; color:#DCDCDC; } h6::after { float:right; font-size:14pt; content:"+"; color:#DCDCDC; }
hr { border-top:1px solid #fe4164; }
img { display:block; margin:0 auto; vertical-align:middle; -webkit-border-radius:3px; max-width:99% !important; width:auto; height:auto; max-width:450px; }
img { max-width:100%; }
ol li { margin-left:4ex; list-style:decimal outside; }
pre > code > table { margin-left:0px; }
pre > code { -webkit-border-radius:3px; }
pre, code { color:#766e6b; background-color:#f6f6f6; -webkit-border-radius:3px; }
pre::before, pre::after { display:block; }
strong, b { font-weight:bold; }
ul li { margin-left:3ex; } ul li::before { content:"* "; color:#f90; margin-left:-2ex; float:left; }
ul, ol, p, pre { margin-top:.5em; margin-bottom:.5em; }
#cloud a { padding:0px; text-decoration:none; }
#cloud li { display: inline-block; }
#cloud li::before { content:""; }
#cloud { margin:0px; padding:2px; line-height:2em; text-align:center; }
.menu_archive { color:#20b2aa; font-size:16pt; } .menu_archive:hover { color:#20b2aa; }
.menu_home { color:#fc580c; font-size:22pt; } .menu_home:hover { color:#fc580c; }
.menu_left { float:left; }
.menu_right { float:right; }
.menu_stats { color:#69359c; font-size:16pt; } .menu_stats:hover { color:#69359c; }
.menu_tags { color:#fe4164; font-size:16pt; } .menu_tags:hover { color:#fe4164; }
.hljs-ln-numbers { color:#909090; text-align:right; vertical-align:middle; border-right:0px solid #909090; }
.rectimages { width:540px; height:270px; max-width:540px; max-height:270px; }
.sqimages { width:540px; height:540px; max-width:540px; max-height:540px; }
.nested { display:none; }
.active { display:block; }
.collapsible { cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.collapsible::before { transition:transform .6s ease; display:inline-block; margin-right:9px; }
.expanded::before { -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); transform:rotate(360deg); }
.collapsible::after { transition:transform .6s ease; display:inline-block; margin-right:9px; }
.expanded::after { -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); transform:rotate(360deg); }
h2.expanded::before { content:"= "; color:#fe4164; } h2.expanded::after { content:"= "; color:#fe4164; } h2.expanded { color:#20b2aa; }
h3.expanded::before { content:"= "; color:#fe4164; } h3.expanded::after { content:"= "; color:#fe4164; } h3.expanded { color:#20b2aa; }
h4.expanded::before { content:"= "; color:#fe4164; } h4.expanded::after { content:"= "; color:#fe4164; } h4.expanded { color:#20b2aa; }
h5.expanded::before { content:"= "; color:#fe4164; } h5.expanded::after { content:"= "; color:#fe4164; } h5.expanded { color:#20b2aa; }
h6.expanded::before { content:"= "; color:#fe4164; } h6.expanded::after { content:"= "; color:#fe4164; } h6.expanded { color:#20b2aa; }
.footer { display:block; width:100%; text-decoration: none !important; border-bottom:none; }
.footercenter { display:inline-block; text-align:center; }
.footspan { color:#DCDCDC; font-size:11pt; } .footspan:hover { color:#DCDCDC; }
/*p { text-align:justify; }*/
