:root {
  --accent-color: #fc580c;
  --bg-color: #ffffff;
  --border-color: #766e6b;
  --font-color: #393939;
  --link-color: #3b7dfa;
  --menu-color: #5e5cb2;
  --primary-color: #5cb25e;
  --secondary-color: #e8e6df;
  --max-width: 1200px;
  --font-size: 11pt;
  --footer-size: 11pt;
  --h1-size: 16pt;
  --h2-size: 13pt;
  --h3-size: 12pt;
  --h4-size: 11pt;
  --h5-size: 10pt;
  --h6-size: 9pt;
  --code-stylesheet: "/static/css/atelier-forest-light.css";
}

[data-theme="dark"] {
  --accent-color: #f4bf75;
  --bg-color: #393939;
  --border-color: #e8e6df;
  --font-color: #f8f8f2;
  --link-color: #66d9ef;
  --menu-color: #5e5cb2;
  --primary-color: #a6e22e;
  --secondary-color: #f37f97;
  --max-width: 1200px;
  --font-size: 11pt;
  --footer-size: 11pt;
  --h1-size: 16pt;
  --h2-size: 13pt;
  --h3-size: 12pt;
  --h4-size: 11pt;
  --h5-size: 10pt;
  --h6-size: 9pt;
  --code-stylesheet: "/static/css/atelier-forest-light.css";
}

* { border:0; font-family:"FiraCode Nerd Font","Inconsolata",monospace; font-size:var(--font-size); list-style:none; padding-left:2%; padding-right:2%; margin:0 auto; padding:.2ch; max-width:var(--max-width); }
@font-face { font-family:"FiraCode Nerd Font"; src:url("/static/fonts/firacode/firacode-nerdfont/Fira Code Regular Nerd Font Complete.ttf"); font-display:swap; font-weight:normal; }
body { color:var(--font-color); margin:0 auto; background-color:var(--bg-color); }
a { color:var(--link-color); text-decoration:none; } a, a:active, a:focus{ outline:none; }
em, i { font-style:italic; }
figcaption { font-size:small; }
figure { margin:1em 0; text-align:center; }
h1 { font-weight:bold; font-size:var(--h1-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--link-color); }
h2 { font-weight:bold; font-size:var(--h2-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--font-color); } h2::before { color:var(--accent-color); content:"# "; font-weight:normal; }
h3 { font-weight:bold; font-size:var(--h3-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--font-color); } h3::before { color:var(--accent-color); content:"# "; font-weight:normal; }
h4 { font-weight:bold; font-size:var(--h4-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--font-color); } h4::before { color:var(--accent-color); content:"# "; font-weight:normal; }
h5 { font-weight:bold; font-size:var(--h5-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--font-color); } h5::before { color:var(--accent-color); content:"# "; font-weight:normal; }
h6 { font-weight:bold; font-size:var(--h6-size); margin:0 0; margin-top:0; margin-bottom:0; color:var(--font-color); } h6::before { color:var(--accent-color); content:"# "; font-weight:normal; }
hr { margin:0 0; margin-top:0.5em; margin-bottom:0.5em; color:var(--bg-color); }
img { display:block; margin:0 auto; vertical-align:middle; -webkit-border-radius:0px; max-width:100% !important; width:auto; height:auto; border:1px solid var(--border-color); }
li { position:relative; margin:0; }
li::after { border-left:2px solid var(--secondary-color); height:100%; top:4px; }
li::before { border-top:2px solid var(--secondary-color); top:12px; width:8px; }
li::before, li::after { content:""; position:absolute; left:-12px; }
li:last-child::after { height:10px; }
ul { list-style:none; padding-left:20px; margin:0; }
p { margin:0 0;  margin-bottom:0.5em; }
pre > code > table { margin-left:0px; }
pre > code { -webkit-border-radius:0px; max-width:100% !important; border:1px solid var(--border-color); }
pre, code { color:var(--border-color); -webkit-border-radius:0px; margin-bottom:0.5em; }
pre::before, pre::after { display:block; }
strong, b { font-weight:bold; }
/*p { text-align:justify; }*/

.menu { font-weight:bold; border:1px dashed var(--bg-color); display:inline-block; text-align:center; width:100%; }
.menu_home { font-weight:bold; color:#fc580c; font-size:28pt; text-transform:capitalize; }
.menu_archive { font-weight:bold; color:#5e5cb2; font-size:16pt; text-transform:capitalize; }
.menu_tags { font-weight:bold; color:#5e5cb2; font-size:16pt; text-transform:capitalize; }
.menu_stats { font-weight:bold; color:#5e5cb2; font-size:16pt; text-transform:capitalize; }

.title { display:inline-block; text-align:center; width:100%; text-decoration:none !important; border-bottom:none; }
.footer { display:inline-block; text-align:center; width:100%; text-decoration:none !important; border-bottom:none; color:var(--border-color); font-size:var(--footer-size); }
.nested { display:none; }
.active { display:block; }
.collapsible { cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; }
.hljs-ln-numbers { text-align:right; vertical-align:middle; border-right:0px solid; }
.rectimages { width:540px; height:270px; max-width:540px; max-height:270px; }
.sqimages { width:270px; height:270px; max-width:270px; max-height:270px; }

.content { margin:0 0; border:1px dashed var(--bg-color); }
.sparklines { letter-spacing:-3px; }

#cloud a { padding:0px; text-decoration:none; }
#cloud li { display:inline-block; }
#cloud li::before { content:""; }
#cloud li::before { border-top:0px solid var(--border-color); }
#cloud { margin:0px; padding:2px; line-height:2em; text-align:center; }
#cloud li::after { border-left:0px solid var(--border-color); }

.theme-switch { display:inline-block; height:14px; position:relative; width:35px; }
.theme-switch input { display:none; }
.slider { background-color:var(--border-color); top:0; bottom:0; left:0; right:0; transition:.3s; cursor:pointer; position:absolute; }
.slider:before { content: "🌞"; height:14px; left:3px; position:absolute; transition:.3s; width:10px; }
input:checked + .slider:before { transform:translateX(19px); content:"🌑"; }
.slider.round { border-radius:32px; }

.astrotabclass { width:100%; max-width:100vw; overflow:auto; display:block; table-layout:fixed; border-spacing:3px; border-collapse:separate; border-color: var(--font-color); }
.astrotabclass td { padding-left:3px; padding-right:3px; }
.astrotabclass tr:nth-child(odd) { background-color:var(--bg-color); }
.mapclass img { display:block; margin:0 auto; vertical-align:middle; -webkit-border-radius:0px; max-width:100% !important; width:100%; height:450px; border:0px solid var(--border-color); }
.globebg { background-image:url("https://raw.githubusercontent.com/7h3rAm/datastore/master/maps/night-sky.png"); }

.btcicon { width: 1.3em; height: 1.3em; border: 0px; display: inline; vertical-align: top; }
.btciconsmall { width:0.9em; height:0.9em; border:0px; display:inline; vertical-align:top; }
.tdtitle { text-align:center; color:var(--border-color); font-size:var(--font-size); }

.svgcontainer { margin:0 auto; display:inline-block; position:relative; width:100%; overflow:hidden; }
.node circle { fill:var(--font-color); }
.link { fill:none; stroke:var(--link-color); stroke-width:1px; shape-rendering:crispEdges; }

#walletgraph { background-color: #ffffff; }
